<form method="POST">
    <input type="hidden" name="item[id]" value="{{ item.id }}">
    <div class="row g-1 px-1 pt-1">
        <div class="col-12 col-md-5">
            <div class="row g-1">
                <div class="col-2">
                    <a href="/{{ meta[item.type].slug }}/id{{ item.id }}" target="_blank" class="btn btn-dark btn-sm w-100 text-start px-1">
                        <div class="row g-0">
                            <div class="col-4">
                                <i class="fa-solid fa-user opacity-25"></i>
                            </div>
                            <div class="col-8 text-center">
                                {{ item.id }}
                            </div>
                        </div>
                    </a>
                </div>
                {% if item.itemstatus.active == false %}
                    <div class="col-10">
                        <button
                                class="btn btn-outline-primary btn-sm w-100"
                                name="item[active]"
                                type="submit"
                                value="1"
                        >
                            <i class="fa-solid fa-toggle-off"></i> Опубликовать
                        </button>
                    </div>
                {% else %}
                    <div class="col">
                        <button
                                class="btn btn-primary btn-sm w-100 pb-0 text-center position-relative"
                                style="padding-top:8px"
                                type="submit"
                                name="item[active]"
                                value="0"
                        >
                            <div
                                    class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                    style="font-size:.7rem">Активна</div>
                            <i class="fa-solid fa-circle" style="font-size:.65rem"></i>
                        </button>
                    </div>
                    <div class="col">
                        <button
                                class="btn btn-{% if item.itemstatus.premium == true %}primary{% else %}secondary{% endif %} btn-sm w-100 pb-0 text-center position-relative"
                                style="padding-top:8px"
                                type="submit"
                                name="item[premium]"
                                value="{{ [1,0][item.itemstatus.premium] }}"
                        >
                            <div
                                    class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                    style="font-size:.7rem">Премиум</div>
                            <i class="fa-solid fa-crown" style="font-size:.65rem"></i>
                        </button>
                    </div>
                    <div class="col">
                        <button
                                class="btn btn-{% if item.itemstatus.realy == true %}primary{% else %}secondary{% endif %} btn-sm w-100 pb-0 text-center position-relative"
                                style="padding-top:8px"
                                type="submit"
                                name="item[realy]"
                                value="{{ [1,0][item.itemstatus.realy] }}"
                        >
                            <div
                                    class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                    style="font-size:.7rem">Реальна</div>
                            <i class="fa-solid fa-camera" style="font-size:.65rem"></i>
                        </button>
                    </div>
                    <div class="col">
                        <button
                                class="btn btn-success btn-sm w-100 pb-0 text-center position-relative"
                                style="padding-top:8px"
                                type="submit"
                                name="item[top]"
                                value="1"
                        >
                            <div
                                    class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                    style="font-size:.7rem">Поднять</div>
                            <i class="fa-solid fa-chevron-up" style="font-size:.65rem"></i>
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row g-1">
                <div class="col-6">
                    <div class="text-center position-relative" style="padding-top:13px">
                        <div
                                class="position-absolute top-0 start-50 translate-middle-x text-uppercase text-secondary"
                                style="font-size:.65rem"
                        >Регистрация</div>
                        {{ item.createdAt|format_date }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-center position-relative" style="padding-top:13px">
                        <div
                                class="position-absolute top-0 start-50 translate-middle-x text-uppercase text-secondary"
                                style="font-size:.65rem"
                        >Поднятие</div>
                        {{ item.topedAt|format_date }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="row g-1">
                <div class="col-{% if user.items|length <= 1 %}6{% else %}4{% endif %}">
                    <a
                            href="#"
                            class="btn btn-light btn-sm text-secondary w-100 pb-0 text-center position-relative"
                            style="padding-top:8px"
                    >
                        <div
                                class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                style="font-size:.7rem">Данные</div>
                        <i class="fa-solid fa-file-pen" style="font-size:.65rem"></i>
                    </a>
                </div>
                <div class="col-{% if user.items|length <= 1 %}6{% else %}4{% endif %}">
                    <a
                            href="#photo{{ item.id }}" data-bs-toggle="modal"
                            class="btn btn-light btn-sm text-secondary w-100 pb-0 text-center position-relative"
                            style="padding-top:8px"
                    >
                        <div
                                class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                style="font-size:.7rem">Фото</div>
                        <span style="font-size:.65rem">
                                            <i class="fa-solid fa-images"></i> <span class="text-secondary">{{ item.itemphotos|length }}</span>
                                        </span>
                    </a>
                </div>
                {% if user.items|length > 1 %}
                    <div class="col-4">
                        <a href="#" class="btn btn-danger btn-sm w-100">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- modal photo -->
    <div class="modal fade" id="photo{{ item.id }}" tabindex="-1" aria-labelledby="photo{{ item.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header py-2 px-3">
                    <p class="modal-title ff1 text-center" id="photo{{ item.id }}">Управление фото анкеты #{{ item.id }}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body p-2 text-center">
                    <ul class="nav nav-tabs justify-content-center mb-2" id="photosTab" role="tablist">
                        {% for key, photo in item.itemphotos %}
                        <li class="nav-item" role="presentation">
                            <a class="p-1 nav-link position-relative {% if photo.hasmain == true %}active{% endif %}"
                               id="photo{{ item.id }}{{ photo.id }}-tab"
                               data-bs-toggle="tab"
                               data-bs-target="#photo{{ item.id }}{{ photo.id }}"
                               type="button"
                               role="tab"
                               aria-controls="photo{{ item.id }}{{ photo.id }}"
                               aria-selected="true">
                                <img
                                        src="{{ asset('/media/' ~ item.id ~ '/src/' ~ photo.filename) | imagine_filter('editPhotoItemInAdmin') }}"
                                        alt="{{ photo.filename }}"
                                        class="rounded-1 shadow-sm"
                                >
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content" id="photosContent">
                        {% for photo in item.itemphotos %}
                        <div
                                class="tab-pane fade show {% if photo.hasmain == true %}active{% endif %}"
                                id="photo{{ item.id }}{{ photo.id }}"
                                role="tabpanel"
                                aria-labelledby="photo{{ item.id }}{{ photo.id }}-tab"
                        >
                            <div class="position-relative">
                                <div class="position-absolute" style="top:10px;left:10px">
                                    {% if photo.hasmain == true %}
                                        <strong>Главное фото анкеты нельзя удалить</strong>
                                    {% else %}
                                        <button class="btn btn-light btn-sm">
                                            <i class="fa-solid fa-check"></i> Сделать главной
                                        </button>
                                    {% endif %}
                                </div>
                                {% if photo.hasmain == false %}
                                <div class="position-absolute" style="top:10px;right:10px">
                                    <button class="btn btn-danger btn-sm">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                                {% endif %}
                                <img
                                        src="{{ asset('/media/' ~ item.id ~ '/src/' ~ photo.filename) | imagine_filter('editPhotoItemInAdminFull') }}"
                                        class="img-thumbnail w-100 shadow-lg"
                                        alt="{{ photo.filename }}"
                                >
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- !modal photo -->
</form>