<div class="card">
    <div class="position-relative">
        <div class="position-absolute end-0 top-0 p-1">
            <button type="submit" class="btn btn-sm btn-danger" name="action[delete][file]" value="{{ photo.filename }}"><i class="fa-solid fa-trash-can"></i></button>
        </div>
        <div class="position-absolute start-0 bottom-0 p-1">
            <div class="badge rounded-pill text-bg-secondary">Добавлено {{ photo.createdat|format_date }}</div>
        </div>
        <img src="{{ asset('/media/' ~ id ~ '/src/' ~ photo.filename) | imagine_filter('editPhotoItem') }}" class="card-img-top" alt="{{ photo.filename }}">
    </div>
    <div class="card-footer py-1 px-2">
        <div class="row g-1">
            <div class="col-6 text-start">
                <button
                        type="submit"
                        class="btn btn-sm btn-{% if photo.hasmain %}primary{% else %}light{% endif %}"
                        name="action[main][file]"
                        value="{{ photo.filename }}"
                >
                    {% if photo.hasmain %}<i class="fa-solid fa-check"></i>{% endif %} <small>Главная</small>
                </button>
            </div>
            <div class="col-6 text-end">
                <div class="form-check form-check-inline m-0 mt-1">
                    <label class="form-check-label text-secondary" style="margin-top:2px" for="p{{ key }}">
                        <small>отметить</small>
                    </label>
                    <input
                            class="form-check-input"
                            type="checkbox"
                            id="p{{ key }}"
                            name="action[delete][file][]"
                            value="{{ photo.filename }}"
                            onchange="massDelete()"
                    >
                </div>
            </div>
        </div>
    </div>
</div>
