<div class="card mb-1 position-relative">
    <div class="card-header text-secondary p-1">
        <div class="row g-0">
            <div class="col-10 d-flex align-items-center">
                <span class="ms-1 text-white">
                    ID {{ item.id }}: {{ item.type.value }} <strong>{{ item.name }}</strong>, телефон: <strong>{{ item.phone }}</strong>
                    <a href="#editContact{{ item.id }}" data-bs-toggle="modal" class="text-secondary"><small>изменить</small></a>
                </span>
            </div>
            <div class="col-2 text-end">
                <a href="#remove{{ item.id }}" data-bs-toggle="modal" class="text-danger text-decoration-none me-1">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body p-1">
        <div class="row g-1">
            <div class="col-12 col-lg-3 text-center d-flex align-items-center justify-content-center">
                <div>
                    {% if item.photo_main is not null %}
                        <img src="{{ asset(item.photo_main) | imagine_filter("editPhotoItem") }}" class="rounded-1 img-fluid mb-1" alt="">
                    {% endif %}
                    <a href="/user/item/photo/{{ item.id }}" class="btn btn-light text-secondary btn-sm w-100">
                        <i class="bi bi-image-fill"></i> {% if item.photo_main == null %}Загрузить фото{% else %}{{ item.photo_count }} фото{% endif %}
                    </a>
                    {% if item.events|length > 0 %}
                        <button
                                data-bs-toggle="collapse"
                                data-bs-target="#events{{ item.id }}"
                                aria-expanded="false"
                                aria-controls="events{{ item.id }}"
                                class="btn btn-outline-secondary btn-sm w-100 mt-1"
                        >
                            <i class="bi bi-person-badge-fill"></i> Лента действий <span class="badge text-bg-secondary">{{ item.events|length }}</span>
                        </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="alert alert-{% if item.status.active == false %}{% if item.photo_main == null %}danger{% else %}warning{% endif %}{% else %}success{% endif %} p-2 mb-1 text-center">
                    Анкета {% if item.status.active == false %}НЕ АКТИВНА! {% if item.photo_main == null %}Без ФОТО активация невозможна.{% else %}Обратитесь к администратору.{% endif %}{% else %}АКТИВНА.{% if item.status.premium == true %} Установлен статус ПРЕМИУМ{% if item.status.premium_priority != null %} с приоритетом на {{ item.status.premium_priority }} место{% endif %}.{% endif %}{% endif %}
                </div>
                <div class="row g-1 mb-1">
                    <div class="col-12 col-md-6">
                        <div class="card text-bg-dark h-100">
                            <div class="card-header py-1 px-2">
                                <div class="row g-0">
                                    <div class="col-8">
                                        Параметры
                                    </div>
                                    <div class="col-4 text-end">
                                        <a href="#editInfo{{ item.id }}" data-bs-toggle="modal" class="text-secondary"><small>изменить</small></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body py-2">
                                <div class="row g-0">
                                    {% for info in item.info %}
                                        <div class="col-6 text-end">
                                            <span class="text-secondary me-1">{{ info.name }}:</span>
                                        </div>
                                        <div class="col-6">
                                            <span class="ms-1">{{ info.value }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card text-bg-dark h-100">
                            <div class="card-header py-1 px-2">
                                <div class="row g-0">
                                    <div class="col-8">
                                        Цены
                                    </div>
                                    <div class="col-4 text-end">
                                        <a href="#editPrice{{ item.id }}" data-bs-toggle="modal" class="text-secondary"><small>изменить</small></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="row g-0">
                                    {% for price in item.price %}
                                        <div class="col-6 text-end">
                                            <span class="text-secondary me-1">{{ price.name }}:</span>
                                        </div>
                                        <div class="col-6">
                                            <span class="ms-1">{{ price.value }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% set services = [] %}
                {% for service in item.service %}
                    {% for value in service.value %}
                        {% set services = services|merge([service.name ~ ' ' ~ value]) %}
                    {% endfor %}
                {% endfor %}
                <div class="card text-bg-dark">
                    <div class="card-header py-1 px-2">
                        <div class="row g-0">
                            <div class="col-8">
                                Услуги
                            </div>
                            <div class="col-4 text-end">
                                <a href="#editService{{ item.id }}" data-bs-toggle="modal" class="text-secondary"><small>изменить</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body py-2">
                        {{ services|join(' / ') }}
                    </div>
                </div>
                <p class="mt-2 mb-1">
                    {{ item.text }}
                    <a href="#editText{{ item.id }}" data-bs-toggle="modal" class="text-secondary"><small>изменить</small></a>
                </p>
            </div>
        </div>
        {% if item.events|length > 0 %}
            <div class="collapse" id="events{{ item.id }}">
                <div class="card card-body mt-1 py-1 px-2">
                    {% for event in item.events %}
                        <div class="row g-2">
                            <div class="col-3 text-end">
                                <span class="text-secondary">{{ event.createdAt|format_date }}</span>
                            </div>
                            <div class="col-9">
                                {{ event.event|format_event }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="card-footer p-1 text-secondary">
        <div class="row g-1">
            <div class="col-12 col-lg-4 text-center">
                <small>Регистрация: {{ item.date.created|format_date }}</small>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <small>Обновление: {{ item.date.updated|format_date }}</small>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <small>Поднятие: {{ item.date.toped|format_date }}</small>
            </div>
        </div>
    </div>
    {# editable modal #}
    <div class="modal fade" id="editContact{{ item.id }}" tabindex="-1" aria-labelledby="editContact{{ item.id }}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form method="POST" class="modal-content">
                <input type="hidden" name="edit[id]" value="{{ item.id }}">
                <div class="modal-header py-1 px-2">
                    <p class="modal-title " id="editContact{{ item.id }}Label">Редактировать контакты #{{ item.id }}</p>
                </div>
                <div class="modal-body p-2">
                    <div class="form-floating mb-1">
                        <input
                                type="text"
                                name="edit[contact][name]"
                                class="form-control"
                                id="name"
                                placeholder=""
                                oninvalid="this.setCustomValidity('Обязательно нужно заполнить: Имя/Псевдоним')"
                                value="{{ item.name }}"
                                required
                        >
                        <label for="name">Имя/Псевдоним</label>
                    </div>
                    <div class="form-floating">
                        <input
                                type="text"
                                name="edit[contact][phone]"
                                class="form-control"
                                id="phone"
                                placeholder=""
                                oninvalid="this.setCustomValidity('Обязательно нужно заполнить: Номер телефона')"
                                value="{{ item.phone|replace({"+7": ""}) }}"
                                required
                        >
                        <label for="phone">Имя/Псевдоним</label>
                    </div>
                    <script type="text/javascript">
                        document.getElementById('phone').addEventListener('input', function (e) {
                            const x = e.target.value.replace(/\D/g, '').match(/(\d{3})(\d{3})(\d{2})(\d{2})/);
                            e.target.value = '(' + x[1] + ')' + x[2] + '-' + x[3] + '-' + x[4];
                        });
                    </script>
                </div>
                <div class="modal-footer p-1">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-sm btn-primary">Обновить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="editInfo{{ item.id }}" tabindex="-1" aria-labelledby="editInfo{{ item.id }}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form method="POST" class="modal-content">
                <div class="modal-header py-1 px-2">
                    <p class="modal-title " id="editInfo{{ item.id }}Label">Редактировать параметры #{{ item.id }}</p>
                </div>
                <div class="modal-body px-2 py-1">
                    <input type="hidden" name="edit[id]" value="{{ item.id }}">
                    {% for keyField, valueField in item.editable.info.fields %}
                        <div class="form-floating mt-1 mb-1">
                            <select
                                    class="form-select"
                                    id="{{ keyField }}"
                                    name="edit[info][{{ keyField }}]"
                                    {% if valueField.required is defined %}
                                        oninvalid="this.setCustomValidity(
                                                'Обязательно нужно выбрать значение поля: {{ valueField.name }}'
                                                )"
                                        oninput="this.setCustomValidity('')"
                                        required
                                    {% endif %}
                            >
                                {% if item.editable.info.values[keyField] is not defined or item.editable.info.values[keyField] == null %}
                                    <option
                                            selected
                                            disabled
                                            value=""
                                    >Выбрать</option>
                                {% endif %}
                                {% for keyOption, valueOption in valueField.value %}
                                    <option
                                            value="{{ keyOption }}"
                                            {% if item.editable.info.values[keyField] is defined and item.editable.info.values[keyField] == keyOption %}selected{% endif %}
                                    >{{ valueOption }}</option>
                                {% endfor %}
                            </select>
                            <label for="{{ keyField }}">
                                {{ valueField.name }} {% if valueField.required is defined %}<span class="text-danger">*</span>{% endif %}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer p-1">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-sm btn-primary">Обновить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="editPrice{{ item.id }}" tabindex="-1" aria-labelledby="editPrice{{ item.id }}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form method="POST" class="modal-content">
                <div class="modal-header py-1 px-2">
                    <p class="modal-title " id="editPrice{{ item.id }}Label">Редактировать цены #{{ item.id }}</p>
                </div>
                <div class="modal-body px-2 py-1">
                    <input type="hidden" name="edit[id]" value="{{ item.id }}">
                    {% for keyField, valueField in item.editable.price.fields %}
                        <div class="form-floating mt-1 mb-1">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="{{ keyField }}"
                                    name="edit[price][{{ keyField }}]"
                                    {% if valueField.required is defined %}
                                        oninvalid="this.setCustomValidity('Обязательно заполнить значение поля: {{ valueField.name }}')"
                                        oninput="this.setCustomValidity('')"
                                        required
                                    {% endif %}
                                    {% if item.editable.price.values[keyField] is defined %}
                                        value="{{ item.editable.price.values[keyField] }}"
                                    {% else %}
                                        placeholder=""
                                    {% endif %}
                            >
                            <label for="{{ keyField }}">
                                {{ valueField.name }} {% if valueField.required is defined %}<span class="text-danger">*</span>{% endif %}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer p-1">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-sm btn-primary">Обновить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="editService{{ item.id }}" tabindex="-1" aria-labelledby="editService{{ item.id }}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form method="POST" class="modal-content">
                <div class="modal-header py-1 px-2">
                    <p class="modal-title " id="editService{{ item.id }}Label">Редактировать услуги #{{ item.id }}</p>
                </div>
                <div class="modal-body px-2 py-1">
                    <input type="hidden" name="edit[id]" value="{{ item.id }}">
                    {% for keyField, valueField in item.editable.service.fields %}
                        <div class="card mt-1 mb-1">
                            <div class="card-header">{{ valueField.name }}</div>
                            <div class="card-body">
                                {% for keyCheckbox, valueCheckbox in valueField.value %}
                                    <div class="form-check form-switch">
                                        <input
                                                class="form-check-input"
                                                type="checkbox"
                                                role="switch"
                                                id="{{ keyField }}{{ keyCheckbox }}"
                                                name="edit[service][{{ keyField }}][]"
                                                value="{{ keyCheckbox }}"
                                                {% if item.editable.service.values[keyField] is defined and keyCheckbox in item.editable.service.values[keyField] %}checked{% endif %}
                                        >
                                        <label class="form-check-label" for="{{ keyField }}{{ keyCheckbox }}">
                                            {{ valueCheckbox|capitalize }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer p-1">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-sm btn-primary">Обновить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="editText{{ item.id }}" tabindex="-1" aria-labelledby="editText{{ item.id }}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form method="POST" class="modal-content">
                <div class="modal-header py-1 px-2">
                    <p class="modal-title " id="editService{{ item.id }}Label">Редактировать комментарий #{{ item.id }}</p>
                </div>
                <div class="modal-body px-2 py-1">
                    <input type="hidden" name="edit[id]" value="{{ item.id }}">
                        <div class="form-floating">
                            <textarea
                                    class="form-control"
                                    placeholder=""
                                    id="text"
                                    name="edit[info][text]"
                                    style="height: 100px"
                                    required
                            >{{ item.editable.text.values }}</textarea>
                            <label for="text">
                                Дополнительно о себе <span class="text-danger">*</span>
                            </label>
                        </div>
                </div>
                <div class="modal-footer p-1">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-sm btn-primary">Обновить</button>
                </div>
            </form>
        </div>
    </div>
    {# !editable modal #}
    {# modal remove #}
    <div class="modal fade" id="remove{{ item.id }}" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-bg-danger">
                <div class="modal-body p-2">
                    <div class="row g-1">
                        <div class="col-6">
                            <p class="mt-2 mb-0 text-center">Точно удалить анкету ID {{ item.id }}?</p>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <form method="POST" class="d-inline-block">
                                    <button
                                            type="submit"
                                            class="btn btn-link btn-sm text-white text-decoration-none"
                                            name="delete[id]"
                                            value="{{ item.id }}"
                                    >Да</button>
                                </form>
                                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# !modal remove #}
</div>
