{% for user in users %}
    {% if user.id != 1 %}
        <div class="card mb-2" id="user{{ user.id }}">
            <div class="card-header p-1 position-relative">
                {% if user.userhash is not null %}
                    <div class="position-absolute top-50 end-0 translate-middle-y">
                        <span class="badge text-bg-success p-1 me-1">Онлайн</span>
                    </div>
                {% endif %}
                <small><span class="text-secondary">Логин:</span> {{ user.login }}</small>
                <small class="text-secondary opacity-25"> | </small>
                <small><span class="text-secondary">Пароль:</span> {{ user.passwordview }}</small>
                <small class="text-secondary opacity-25"> | </small>
                <small><span class="text-secondary">Регистрация:</span> {{ user.createdat|format_date }}</small>
            </div>
            <div class="card-body p-0 pb-1">
                {% for item in user.items %}
                <form method="POST">
                    <input type="hidden" name="item[id]" value="{{ item.id }}">
                    <div class="row g-1 px-1 pt-1">
                        <div class="col-12 col-md-5">
                            <div class="row g-1">
                                <div class="col-2">
                                    <a href="/{{ meta[item.type].slug }}/id{{ item.id }}" target="_blank" class="btn btn-dark btn-sm w-100 text-start px-1">
                                        <div class="row g-0">
                                            <div class="col-4">
                                                <i class="fa-solid fa-user opacity-25"></i>
                                            </div>
                                            <div class="col-8 text-center">
                                                {{ item.id }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% if item.itemstatus.active == false %}
                                    <div class="col-10">
                                        <button
                                                class="btn btn-outline-primary btn-sm w-100"
                                                name="item[active]"
                                                type="submit"
                                                value="1"
                                        >
                                            <i class="fa-solid fa-toggle-off"></i> Опубликовать
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="col">
                                        <button
                                                class="btn btn-primary btn-sm w-100 pb-0 text-center position-relative"
                                                style="padding-top:8px"
                                                type="submit"
                                                name="item[active]"
                                                value="0"
                                        >
                                            <div
                                                    class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                                    style="font-size:.7rem">Активна</div>
                                            <i class="fa-solid fa-circle" style="font-size:.65rem"></i>
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button
                                                class="btn btn-{% if item.itemstatus.premium == true %}primary{% else %}secondary{% endif %} btn-sm w-100 pb-0 text-center position-relative"
                                                style="padding-top:8px"
                                                type="submit"
                                                name="item[premium]"
                                                value="{{ [1,0][item.itemstatus.premium] }}"
                                        >
                                            <div
                                                    class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                                    style="font-size:.7rem">Премиум</div>
                                            <i class="fa-solid fa-crown" style="font-size:.65rem"></i>
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button
                                                class="btn btn-{% if item.itemstatus.realy == true %}primary{% else %}secondary{% endif %} btn-sm w-100 pb-0 text-center position-relative"
                                                style="padding-top:8px"
                                                type="submit"
                                                name="item[realy]"
                                                value="{{ [1,0][item.itemstatus.realy] }}"
                                        >
                                            <div
                                                    class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                                    style="font-size:.7rem">Реальна</div>
                                            <i class="fa-solid fa-camera" style="font-size:.65rem"></i>
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button
                                                class="btn btn-success btn-sm w-100 pb-0 text-center position-relative"
                                                style="padding-top:8px"
                                                type="submit"
                                                name="item[top]"
                                                value="1"
                                        >
                                            <div
                                                    class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                                    style="font-size:.7rem">Поднять</div>
                                            <i class="fa-solid fa-chevron-up" style="font-size:.65rem"></i>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="row g-1">
                                <div class="col-6">
                                    <div class="text-center position-relative" style="padding-top:13px">
                                        <div
                                                class="position-absolute top-0 start-50 translate-middle-x text-uppercase text-secondary"
                                                style="font-size:.65rem"
                                        >Регистрация</div>
                                        {{ item.createdAt|format_date }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-center position-relative" style="padding-top:13px">
                                        <div
                                                class="position-absolute top-0 start-50 translate-middle-x text-uppercase text-secondary"
                                                style="font-size:.65rem"
                                        >Поднятие</div>
                                        {{ item.topedAt|format_date }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="row g-1">
                                <div class="col-{% if user.items|length <= 1 %}6{% else %}4{% endif %}">
                                    <a
                                            href="#"
                                            class="btn btn-light btn-sm text-secondary w-100 pb-0 text-center position-relative"
                                            style="padding-top:8px"
                                    >
                                        <div
                                                class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                                style="font-size:.7rem">Данные</div>
                                        <i class="fa-solid fa-file-pen" style="font-size:.65rem"></i>
                                    </a>
                                </div>
                                <div class="col-{% if user.items|length <= 1 %}6{% else %}4{% endif %}">
                                    <a
                                            href="#"
                                            class="btn btn-light btn-sm text-secondary w-100 pb-0 text-center position-relative"
                                            style="padding-top:8px"
                                    >
                                        <div
                                                class="position-absolute top-0 start-50 translate-middle-x text-uppercase"
                                                style="font-size:.7rem">Фото</div>
                                        <span style="font-size:.65rem">
                                            <i class="fa-solid fa-images"></i> <span class="text-secondary">{{ item.itemphotos|length }}</span>
                                        </span>
                                    </a>
                                </div>
                                {% if user.items|length > 1 %}
                                <div class="col-4">
                                    <a href="#" class="btn btn-danger btn-sm w-100">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                    <p>Нет анкет</p>
                {% endfor %}
            </div>
            <div class="card-footer p-1">
                <div class="row g-1">
                    {% if user.events|length > 0 %}
                    <div class="col-6">
                        <a
                                href="#events{{ user.id }}"
                                data-bs-toggle="collapse"
                                aria-expanded="false"
                                aria-controls="events{{ user.id }}"
                                class="text-secondary"
                        >
                            <small>Лента действий пользователя ({{ user.events|length }})</small>
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-{% if user.events|length == 0 %}12{% else %}6{% endif %} text-end">
                        <a href="#" class="text-secondary">
                            <small>Удалить пользователя{% if user.items|length != 0 %}{% if user.items|length <=1 %} и анкету{% else %} и все анкеты{% endif %}{% endif %}</small>
                        </a>
                    </div>
                </div>
                {% if user.events|length > 0 %}
                <div class="collapse" id="events{{ user.id }}">
                    <div class="card card-body mt-1 py-1 px-2">
                        {% for event in user.events %}
                        <div class="row g-2">
                            <div class="col-3 text-end">
                                <span class="text-secondary">{{ event.createdAt|format_date }}</span>
                            </div>
                            <div class="col-9">
                                Анкета #{{ event.item.id }} {{ event.event|format_event }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}