{% extends 'base.html.twig' %}

{% block title %}{{ meta[type]['one_name'] }}{% endblock %}

{% block body %}
    {%
        set nameFieldset = {
        'info': 'Основная информация',
        'service': 'Список услуг',
        'price': 'Стоимость услуг',
        'dop': 'Комментарий к анкете'
    }
    %}
    <div class="container py-2 mt-3">
    <form method="POST">
    <div class="row g-1">
        <div class="col-12 col-md-6">
            <div class="form-floating">
                <input
                        type="text"
                        name="add[name]"
                        class="form-control"
                        id="name"
                        placeholder=""
                        oninvalid="this.setCustomValidity(
                                'Обязательно нужно заполнить: Имя/Псевдоним'
                        )"
                        oninput="this.setCustomValidity('')"
                        required
                >
                <label for="name">Имя/Псевдоним</label>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-floating">
                <input
                        type="text"
                        name="add[phone]"
                        class="form-control"
                        id="phone"
                        placeholder=""
                        oninvalid="this.setCustomValidity(
                                'Обязательно нужно заполнить: Номер телефона'
                        )"
                        oninput="this.setCustomValidity('')"
                        required
                >
                <label for="phone">Номер телефона</label>
                <script type="text/javascript">
                    document.getElementById('phone').addEventListener('input', function (e) {
                        const x = e.target.value.replace(/\D/g, '').match(/(\d{3})(\d{3})(\d{2})(\d{2})/);
                        e.target.value = '(' + x[1] + ')' + x[2] + '-' + x[3] + '-' + x[4];
                    });
                </script>
            </div>
        </div>
    </div>
    {% for keyFieldset, valueFieldset in form %}
        <fieldset>
            <legend class="my-2 text-center">{{ nameFieldset[keyFieldset] }}</legend>
            <div class="row g-1">
                {% for keyField, valueField in valueFieldset %}
                    {% set required = valueField.require is defined %}
                    {% if valueField.type is defined and valueField.type == 'select' %}
                        <div class="col-12 col-md-6 col-lg">
                            <div class="form-floating">
                                <select
                                        class="form-select"
                                        id="{{ keyField }}"
                                        name="add[{{ keyFieldset }}][{{ keyField }}]"
                                        {% if required %}
                                            oninvalid="this.setCustomValidity(
                                                'Обязательно нужно выбрать значение поля: {{ valueField.name }}'
                                            )"
                                            oninput="this.setCustomValidity('')"
                                            required
                                        {% endif %}
                                >
                                    <option
                                            selected
                                            disabled
                                            value=""
                                    >Выбрать</option>
                                    {% for keyOption, valueOption in valueField.value %}
                                        <option
                                                value="{{ keyOption }}"
                                        >{{ valueOption }}</option>
                                    {% endfor %}
                                </select>
                                <label for="keyField">
                                    {{ valueField.name }} {% if required %}<span class="text-danger">*</span>{% endif %}
                                </label>
                            </div>
                        </div>
                    {% elseif valueField.type is defined and valueField.type == 'text' %}
                        <div class="col-12 col-md-6 col-lg">
                            <div class="form-floating">
                                <input
                                        type="text"
                                        class="form-control"
                                        id="{{ keyField }}"
                                        name="add[{{ keyFieldset }}][{{ keyField }}]"
                                        placeholder=""
                                        {% if required %}
                                            oninvalid="this.setCustomValidity(
                                                'Обязательно заполнить значение поля: {{ valueField.name }}'
                                            )"
                                            oninput="this.setCustomValidity('')"
                                            required
                                        {% endif %}
                                >
                                <label for="{{ keyField }}">
                                    {{ valueField.name }} {% if required %}<span class="text-danger">*</span>{% endif %}
                                </label>
                            </div>
                        </div>
                    {% elseif valueField.type is defined and valueField.type == 'textarea' %}
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea
                                        class="form-control"
                                        placeholder=""
                                        id="{{ keyField }}"
                                        name="add[info][{{ keyField }}]"
                                        style="height: 100px"
                                        {% if required %} required{% endif %}
                                ></textarea>
                                <label for="{{ keyField }}">
                                    {{ valueField.name }} {% if required %}<span class="text-danger">*</span>{% endif %}
                                </label>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <div class="card-header">{{ valueField.name }}</div>
                                <div class="card-body">
                                    {% for keyCheckbox, valueCheckbox in valueField.value %}
                                        <div class="form-check form-switch">
                                            <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    role="switch"
                                                    id="{{ keyField }}{{ keyCheckbox }}"
                                                    name="add[{{ keyFieldset }}][{{ keyField }}][]"
                                                    value="{{ keyCheckbox }}"
                                            >
                                            <label class="form-check-label" for="{{ keyField }}{{ keyCheckbox }}">
                                                {{ valueCheckbox|capitalize }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </fieldset>
    {% endfor %}
        <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Сохранить</button>
    </form>
    </div>
{% endblock %}