{% set diff = date(photo.createdAt|date('Y/m/d')).diff(date('now'|date('Y/m/d'))).days %}
{% set month = {
    '01': 'января',
    '02': 'февраля',
    '03': 'марта',
    '04': 'апреля',
    '05': 'мая',
    '06': 'июня',
    '07': 'июля',
    '08': 'августа',
    '09': 'сентября',
    '10': 'октября',
    '11': 'ноября',
    '12': 'ддекабря',
}[photo.createdAt|date('m')] %}
{% set year = photo.createdAt|date('Y') != date('now')|date('Y') ? ' ' ~ photo.createdAt|date('Y') ~ ' года' : '' %}
{% set date_photo = ['сегодня','вчера','позавчера'][diff] ?? (photo.createdAt|date('d')|round ~ ' ' ~ month ~ year ) %}
<div class="card">
    <div class="position-relative">
        <div class="position-absolute end-0 top-0 p-1">
            <button type="submit" class="btn btn-sm btn-danger" name="action[delete][file]" value="{{ photo.filename }}"><i class="fa-solid fa-trash-can"></i></button>
        </div>
        <div class="position-absolute start-0 bottom-0 p-1">
            <div class="badge rounded-pill text-bg-secondary">Добавлено {{ date_photo }}</div>
        </div>
        <img src="{{ asset('/media/' ~ id ~ '/src/' ~ photo.filename) | imagine_filter('editPhotoItem') }}" class="card-img-top" alt="{{ photo.filename }}">
    </div>
    <div class="card-footer py-1 px-2">
        <div class="row">
            <div class="col-6 text-start">
                <button
                        type="submit"
                        class="btn btn-sm btn-{% if photo.hasmain %}primary{% else %}light{% endif %}"
                        name="action[main][file]"
                        value="{{ photo.filename }}"
                >
                    {% if photo.hasmain %}<i class="fa-solid fa-check"></i> Основное{% else %}Сделать основной{% endif %}
                </button>
            </div>
            <div class="col-6 text-end">
                <div class="form-check form-check-inline m-0 mt-1">
                    <label class="form-check-label text-secondary" style="margin-top:2px" for="p{{ key }}">
                        <small>отметить</small>
                    </label>
                    <input class="form-check-input " type="checkbox" id="p{{ key }}" name="action[delete][file][]" value="{{ photo.filename }}">
                </div>
            </div>
        </div>
    </div>
</div>
