<footer>
    <div class="inner">
        <div class="row g-0">
            <div class="col-12 col-md-4">
                <div class="p-1">
                    {% for value in meta %}
                        <a
                                href="/{{ value.slug }}"
                                class="btn btn-outline-light bg-light bg-opacity-50 text-white w-100 opacity-50 mb-1"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                title="{{ value.title }}"
                        >{{ value.item_menu|upper }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-4">
                <!--<div {{ stimulus_controller('hello') }}></div>-->
            </div>
            <div class="col-12 col-md-4">
                <p class="text-center">
                    Портал {{ site_name }} работает уже {{ date('now').diff(date('2010-01-01 00:00')).y|suffix_number(['год', 'года', 'лет']) }}. <br />
                    Все права защищены ©
                </p>
            </div>
        </div>
    </div>
</footer>