<nav class="navbar navbar-expand-lg bg-body-tertiary m-0 p-0">
    <div class="container-fluid menu">
        <a class="navbar-brand py-0 me-1" href="/" title="Индивидуалки и проститутки {{ city[1] }} - {{ site_name }}">
            <img src="{{ asset('images/logo.webp') }}"  alt="Проститутки {{ city[1] }} - {{ site_name }}"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for keyMenu, valueMenu in menu %}
                    {% if keyMenu != 'main' %}
                    <li class="nav-item">
                        <a
                                href="{{ url('page_type', {'type': valueMenu['slug']}) }}"
                                class="nav-link text-center"
                                title="{{ valueMenu['title'] }}"
                        >{{ valueMenu['item_menu'] }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="navbar-text">
                {% if user_hash is not defined or user_hash is null %}
                    <div class="dropdown-center">
                        <button class="btn btn-light btn-sm dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
                            Реклама
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a href="/user/login" class="dropdown-item">Вход</a></li>
                            <li><a href="/user/regin" class="dropdown-item">Регистрация</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="#" class="dropdown-item">Стоимость</a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="row g-1">
                        <div class="col-8">
                            <a class="btn btn-light text-danger btn-sm w-100" href="/user/lk">Кабинет</a>
                        </div>
                        <div class="col-4">
                            <form method="POST" action="/user/logout">
                                <button class="btn btn-danger btn-sm w-100" type="submit">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>